**/Debug/
**/DebugUnicode/
**/Release/
**/ReleaseUnicode/
**/debugu/
**/releaseu/
**/lib/
**/.vs/
**/*.vcxproj.user
**/build_config.h
**/*_local.sln
supp/curl/
supp/duckdb/
supp/expat/
supp/libharu/
supp/libmariadb/
supp/libzip/
supp/make_duckdb.bat
supp/openssl/
supp/openxlsx/
supp/oracle/
supp/postgres/
supp/t/
supp/util/cmakewin32/
supp/util/perlwin32/
supp/wxWidgets/
supp/xlnt/
supp/zlib/
