

#include "wx/msw/wx.rc"
#include "appversion.h"


AA_APPICON_9 ICON DISCARDABLE "app.ico"



VS_VERSION_INFO VERSIONINFO
 FILEVERSION APP_RCVER_PART1,APP_RCVER_PART2,APP_RCVER_PART3,APP_RCVER_PART4
 PRODUCTVERSION APP_RCVER_PART1,APP_RCVER_PART2,APP_RCVER_PART3,APP_RCVER_PART4
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "Kirix Research, LLC\0"
            VALUE "FileDescription", "Client Application\0"
            VALUE "FileVersion", "4.x\0"
            VALUE "InternalName", "appmain\0"
            VALUE "LegalCopyright", "Copyright (c) 2002-2013, Kirix Research, LLC.  All rights reserved.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "appmain.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Client Application\0"
            VALUE "ProductVersion", "4.x\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

