<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
    <Product Name="Kirix Strata (64-bit)"
        Id="*"
        UpgradeCode="1B839292-34DC-484A-A4A9-7374BAC4CD1B" 
        Version="%VERSION%"
        Manufacturer="Kirix Research, LLC"
        Language="1033">
        
    <Package
        Comments="This MSI installation file installs Kirix Strata (64-bit)" 
        Manufacturer="Kirix Research, LLC"
        InstallerVersion="301" 
        Platform="x64"
        Languages="1033"
        Compressed="yes"/>


    <Media Id="1" EmbedCab="yes" Cabinet="kxinst.cab"/>
        

    <Upgrade Id="1B839292-34DC-484A-A4A9-7374BAC4CD1B">
        <UpgradeVersion Property="PREVIOUSVERSIONFOUND"
            Minimum="0.0.1"
            Maximum="%VERSION%"
            MigrateFeatures="yes"
            IncludeMinimum="yes"
            IncludeMaximum="no" />

        <UpgradeVersion Property="NEWERVERSIONFOUND"
            OnlyDetect="yes"
            Minimum="%VERSION%"
            IncludeMinimum="no"/>
    </Upgrade>

        
    <CustomAction Id="AlreadyUpdated" Error="A newer version of this product is already installed." />

    <InstallExecuteSequence>
        <Custom Action="AlreadyUpdated" After="FindRelatedProducts">NEWERVERSIONFOUND</Custom>
        <RemoveExistingProducts After='InstallValidate'/>
    </InstallExecuteSequence>


    <Icon Id="kstrata.exe" SourceFile="$(env.buildsrc)\bin\kstrata.exe"/>


    <Property Id="ARPPRODUCTICON">kstrata.exe</Property>
    <Property Id="ARPURLINFOABOUT"><![CDATA[http://www.kirix.com]]></Property>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      
        <Directory Id="ProgramFiles64Folder" Name="PFiles">
            <Directory Id="INSTALLDIR" Name="Kirix Strata">
                <Directory Id="PKG_BINDIR" Name="bin">

                    <Component Id="Core" Guid="C081FEDE-336F-541C-20EA-BA1015D31B38" Win64="yes">
                        <File Id="kstrata" Name="kstrata.exe" DiskId="1" Source="$(env.buildsrc)\bin\kstrata.exe" KeyPath="yes" ProcessorArchitecture="x64">
                            <Shortcut Id="KirixStrataProgramMenuShortcut"
                                Directory="ProgramMenuDir"
                                Name="Kirix Strata (64-bit)"
                                Advertise="yes"
                                Icon="kstrata.exe"/>
                            <Shortcut Id="AppmainDesktopShortcut"
                                Directory="DesktopFolder"
                                Name="Kirix Strata (64-bit)"
                                Advertise="yes"
                                Icon="kstrata.exe"/>
                        </File>

                        <File Id="imgres"   Name="imgres.zip"   DiskId="1" Source="$(env.buildsrc)\bin\imgres.zip"    ProcessorArchitecture="x64"/>

                        <File Id="xdfs"     Name="xdfs.dll"     DiskId="1" Source="$(env.buildsrc)\bin\xdfs.dll"      ProcessorArchitecture="x64"/>
                        <File Id="xdexcel"  Name="xdexcel.dll"  DiskId="1" Source="$(env.buildsrc)\bin\xdexcel.dll"   ProcessorArchitecture="x64"/>
                        <File Id="xdkpg"    Name="xdkpg.dll"    DiskId="1" Source="$(env.buildsrc)\bin\xdkpg.dll"     ProcessorArchitecture="x64"/>
                        <File Id="xdmysql"  Name="xdmysql.dll"  DiskId="1" Source="$(env.buildsrc)\bin\xdmysql.dll"   ProcessorArchitecture="x64"/>
                        <File Id="xdnative" Name="xdnative.dll" DiskId="1" Source="$(env.buildsrc)\bin\xdnative.dll"  ProcessorArchitecture="x64"/>
                        <File Id="xdodbc"   Name="xdodbc.dll"   DiskId="1" Source="$(env.buildsrc)\bin\xdodbc.dll"    ProcessorArchitecture="x64"/>
                        <File Id="xdoracle" Name="xdoracle.dll" DiskId="1" Source="$(env.buildsrc)\bin\xdoracle.dll"  ProcessorArchitecture="x64"/>
                        <File Id="xdpgsql"  Name="xdpgsql.dll"  DiskId="1" Source="$(env.buildsrc)\bin\xdpgsql.dll"   ProcessorArchitecture="x64"/>
                        <File Id="xdsqlite" Name="xdsqlite.dll" DiskId="1" Source="$(env.buildsrc)\bin\xdsqlite.dll"  ProcessorArchitecture="x64"/>
                        
                        <RemoveFolder Id="ProgramMenuDir" Directory='ProgramMenuDir' On="uninstall"/>

                    </Component>

                    <!-- core registry items for things like license keys -->
                    <Component Id="CoreRegistry" Guid="1A57E732-340A-4AE1-B0D2-01CF9A3F89E6" KeyPath="yes" SharedDllRefCount="no" Permanent="yes" Win64="yes">

                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>

                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo\KSTRATA" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>

                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo\KSTRATA\AuthCode" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>
                        
                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo\KSTRATA\ExtraInfo1" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>
                        
                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo\KSTRATAEVAL" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>

                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo\KSTRATAEVAL\AuthCode" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>

                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo\KSTRATAEVAL\ExtraInfo1" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>

                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo\KSTRATATEST" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>

                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo\KSTRATATEST\AuthCode" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>

                        <RegistryKey Root="HKLM" Key="SOFTWARE\Kirix\LicenseInfo\KSTRATATEST\ExtraInfo1" ForceCreateOnInstall="yes">
                            <Permission User="Everyone" Read="yes" Write="yes" CreateSubkeys="yes" EnumerateSubkeys="yes" Notify="yes" CreateLink="yes" Delete="yes" ReadPermission="yes" ChangePermission="yes" TakeOwnership="yes" />
                        </RegistryKey>

                    </Component>
                    
                </Directory>


                <Directory Id="PKG_I18N" Name="i18n">
                    <Directory Id="PKG_I18N_DE" Name="de">
                        <Component Id="Translation_de" Guid="50AA8C8D-4466-75f5-B42C-6BAA8C651069" Win64="yes">
                            <File Id="messages_de"  Name="messages.mo" DiskId="1" Source="$(env.buildsrc)\i18n\de\messages.mo" KeyPath="yes" ProcessorArchitecture="x64"/>
                        </Component>
                    </Directory>
                </Directory>


                <Directory Id="PKG_SAMPLEDIR" Name="samples">
                    <Component Id="Samples" Guid="99950A7B-4566-45f5-B42C-5F008C652068" Win64="yes">
                        <File Id="startup"   Name="startup.kpg"   DiskId="1" Source="$(env.buildsrc)\samples\startup.kpg" KeyPath="yes" ProcessorArchitecture="x64"/>
                    </Component>
                </Directory>

                <Directory Id="PKG_WEBRES_DIR" Name="webres">
                    <Directory Id="PKG_WEBRESABOUT_DIR" Name="about">
                        <Component Id="AboutFiles" Guid="43938A7C-4566-45f5-A42C-2EAA8C652068">
                            <File Id="webres_about_html"       Name="about.html"       DiskId="1" Source="$(env.buildsrc)\webres\about\about.html" KeyPath="yes"/>
                            <File Id="webres_kstrata_logo_png" Name="kstrata_logo.png" DiskId="1" Source="$(env.buildsrc)\webres\about\kstrata_logo.png"/>
                            <File Id="webres_license_html"     Name="license.html"     DiskId="1" Source="$(env.buildsrc)\webres\about\license.html"/>
                            <File Id="webres_oss_html"         Name="oss_html"         DiskId="1" Source="$(env.buildsrc)\webres\about\oss_html"/>
                        </Component>
                    </Directory>
                </Directory>
                
            </Directory>
        </Directory>


        <Directory Id="ProgramMenuFolder" Name="Programs">
            <Directory Id="ProgramMenuDir" Name="Kirix Strata (64-bit)"/>
        </Directory>

        <Directory Id="DesktopFolder" Name="Desktop"/>
        
    </Directory>
    

    <Feature Id="DefaultFeature" Level="1">
        <!--<MergeRef Id="CRT"/>-->
        <ComponentRef Id="Core"/>
        <ComponentRef Id="CoreRegistry"/>
        <ComponentRef Id="Samples"/>
        <ComponentRef Id="Translation_de"/>
        <ComponentRef Id="AboutFiles"/>
    </Feature>


    <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
    <UIRef Id="WixUI_InstallDir"/>
    <UIRef Id="WixUI_ErrorProgressText"/>

    
    <WixVariable Id="WixUILicenseRtf" Value="$(env.buildsrc)\setup\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(env.buildsrc)\setup\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(env.buildsrc)\setup\dialog.bmp" />

  </Product>
</Wix>

