<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Directory Id="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Name="xr" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="xr">
            <Component Id="cmp02533EA36C7224BEE9D4DF8FD03CC4D6" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{6FB642CB-68A8-4A78-9B96-3015052672DA}">
                <File Id="fil192A8EFD66E056849093D3E78A0D1192" KeyPath="yes" Source="$(env.buildsrcxr)\AccessibleMarshal.dll" />
            </Component>
            <Component Id="cmpB4E4044E3D5BD6D760D7A208B43717F9" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{25D4B2B6-198E-40D9-AA91-277C0B75DC13}">
                <File Id="fil61B78479465F5E70B3D9FE96E580BCE5" KeyPath="yes" Source="$(env.buildsrcxr)\chrome.manifest" />
            </Component>
            <Component Id="cmpF98ADD9ED9CE6568B4BB88B452AF6249" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{696A5120-D3D3-4078-BD36-83CB215FF03B}">
                <File Id="filA1628737DEEC7379506224B65850FD1F" KeyPath="yes" Source="$(env.buildsrcxr)\crashreporter.exe" />
            </Component>
            <Component Id="cmp7A981EBD62FA9347FBFDE8F2B809E904" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{4C23E015-A1CF-4E27-BE5F-9005017B6622}">
                <File Id="fil5F799C03AB56D54146317A4B31329DD0" KeyPath="yes" Source="$(env.buildsrcxr)\crashreporter.ini" />
            </Component>
            <Component Id="cmp6BE06830534623797FF364F78DC316DD" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{22D63287-8A38-4ACC-9B67-2ADDED4E58FC}">
                <File Id="fil8D73F102FCD0EF127DB223BEE530614C" KeyPath="yes" Source="$(env.buildsrcxr)\D3DCompiler_43.dll" />
            </Component>
            <Component Id="cmp7C2FFA4C9337922F3710CB257A1A12B7" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{8558D7C8-2D73-4925-92F8-9867FDF1624E}">
                <File Id="filD4B82012163041E889A4802DB46B670B" KeyPath="yes" Source="$(env.buildsrcxr)\d3dx9_43.dll" />
            </Component>
            <Component Id="cmpA5A080D5446AD91E4E1221C104C8C255" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{3679C123-7B73-41BE-9E7F-5702921ABDB8}">
                <File Id="fil97C9944388409DC30A92BE6DEA904A59" KeyPath="yes" Source="$(env.buildsrcxr)\dependentlibs.list" />
            </Component>
            <Component Id="cmpF8E1120E1BECC6E089BA3A96045DFA63" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{314C51BC-655D-4D12-8EC8-058C8741B616}">
                <File Id="fil20ECAEC5346E994A69A1C279199BA298" KeyPath="yes" Source="$(env.buildsrcxr)\freebl3.chk" />
            </Component>
            <Component Id="cmpE2788D994DAF6E55DF18B238F22A3FE0" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{F1CBF94E-8468-4322-9B08-481E14F55FD5}">
                <File Id="filF585FFE60A95C6AD74E1062C7A9973B5" KeyPath="yes" Source="$(env.buildsrcxr)\freebl3.dll" />
            </Component>
            <Component Id="cmp85E8DADAACA8E3879C952228F05068B2" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{659B0798-F128-433E-9C72-AE7FFC45C25F}">
                <File Id="filB06343E532DDAD455C1779A8829FD17F" KeyPath="yes" Source="$(env.buildsrcxr)\IA2Marshal.dll" />
            </Component>
            <Component Id="cmpD98F6955EE172A4010A588693F804FA0" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{B2A444E3-4870-42DF-9D1E-9FF20050CFC8}">
                <File Id="fil9B45E74457E0AE3838928EA120CC65F9" KeyPath="yes" Source="$(env.buildsrcxr)\js.exe" />
            </Component>
            <Component Id="cmp503E7770E473B8CFA3FC5E38D942D21B" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{5D741826-2834-4A07-AAFD-73AA28C7773D}">
                <File Id="fil5FC5AC99B1701C3B21EA44E855F5090A" KeyPath="yes" Source="$(env.buildsrcxr)\libEGL.dll" />
            </Component>
            <Component Id="cmpDF841DCD165ECFA1E6F27A5D7EB4024A" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{94521903-A1D3-4CC9-95A2-200CE81E6EA2}">
                <File Id="fil604AFC01AA855BEF0B156073357190EA" KeyPath="yes" Source="$(env.buildsrcxr)\libGLESv2.dll" />
            </Component>
            <Component Id="cmp7E64DF730942DB920B4BF81DEA143E72" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{55E5EE6F-369C-4B3C-ABED-F0676981CDB8}">
                <File Id="filC16D28532616B0397A648A0F1473BF01" KeyPath="yes" Source="$(env.buildsrcxr)\LICENSE" />
            </Component>
            <Component Id="cmp5B9E7545B74F9BD40198D2EEC15D474A" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{84D66C7E-C1C4-4831-A2EC-6C961E724D6A}">
                <File Id="fil07066573808246A52F2FE656A09C79B5" KeyPath="yes" Source="$(env.buildsrcxr)\Microsoft.VC80.CRT.manifest" />
            </Component>
            <Component Id="cmp5C892240F1570CE9B142D5B2A62661A4" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{83ACEA5E-5900-4FDD-A8E1-97B2F57A3EDF}">
                <File Id="fil30564BA25D916D3D5174A52E578ACF32" KeyPath="yes" Source="$(env.buildsrcxr)\mozalloc.dll" />
            </Component>
            <Component Id="cmp1744D4E06E35871A04AB72E4398B14C8" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{FFF8B1FE-9247-4142-8995-07074C149AC0}">
                <File Id="filEABE5D822DEDFACF99F18CD8818010FC" KeyPath="yes" Source="$(env.buildsrcxr)\mozjs.dll" />
            </Component>
            <Component Id="cmpB93F26A4175BA963EC28893251C77B75" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{110C8D20-6D35-4D30-B564-984A39B286F2}">
                <File Id="fil6C27B23A6D71C15148A1BBBE55C56FC9" KeyPath="yes" Source="$(env.buildsrcxr)\mozsqlite3.dll" />
            </Component>
            <Component Id="cmp2955C0852D77D80A67D551AA002CC01B" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{1CFB4EFA-E82C-411E-ADEA-0FC5261170C2}">
                <File Id="fil219895160BE85673F4D8529A713C9595" KeyPath="yes" Source="$(env.buildsrcxr)\mozutils.dll" />
            </Component>
            <Component Id="cmp4AD3A4DE2A60A00626873AF23BE73404" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{E4A7780C-11ED-454F-8AAF-EB117405F600}">
                <File Id="filDF2EEA3B2CD0B160D9FCADCEEF71C67A" KeyPath="yes" Source="$(env.buildsrcxr)\msvcm80.dll" />
            </Component>
            <Component Id="cmp9E272CB65C11A165AE6C7B0195DE46CD" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{2C4E1576-E8B5-4FB6-8C1F-9C08C46ACE36}">
                <File Id="fil552658BAA2237550F31374A7E6FFE9F6" KeyPath="yes" Source="$(env.buildsrcxr)\msvcp80.dll" />
            </Component>
            <Component Id="cmp780EC659803E100165496EF28EACE3C9" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{6BABB6A1-2BE6-4905-8153-6C0D43022081}">
                <File Id="filC78455510E3DCD6FD14D6F4DB0D4B0C0" KeyPath="yes" Source="$(env.buildsrcxr)\msvcr80.dll" />
            </Component>
            <Component Id="cmpF9D80FB0E4534779918DC4C6C026B8C0" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{BEF418B6-B14A-4011-85EC-C7F53DE6602F}">
                <File Id="filE0F04ECF0DFC9DDD55A3D932446E9CD6" KeyPath="yes" Source="$(env.buildsrcxr)\nspr4.dll" />
            </Component>
            <Component Id="cmpAC59F96A0070D15FD897AF95E1988435" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{6A6DE7A5-3768-4A48-B91B-46DCFD0285DC}">
                <File Id="fil9AE5AA890AE8A79165D2C352A994AD1E" KeyPath="yes" Source="$(env.buildsrcxr)\nss3.dll" />
            </Component>
            <Component Id="cmp76D583AA9DD511CFC0A56E606F3A2535" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{548B1AE1-D7E8-4B32-AB99-EBFFFCE1C911}">
                <File Id="fil8FDFEA36B33C6419AA90938A164627A3" KeyPath="yes" Source="$(env.buildsrcxr)\nssckbi.dll" />
            </Component>
            <Component Id="cmpC422C4ACCCFC87DADDC17C1BCCE8BC2B" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{D39730B6-F725-49FC-9A12-225258DAC47F}">
                <File Id="fil1DE8DA57474F00706DED947A689219C8" KeyPath="yes" Source="$(env.buildsrcxr)\nssdbm3.chk" />
            </Component>
            <Component Id="cmpA8C6083411AEC4354B36F91DFCF8C9C1" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{B89BAA36-6AE7-4FC0-A03F-AE85DB28EFC7}">
                <File Id="fil61C433727DCD535B596F68A0724790F9" KeyPath="yes" Source="$(env.buildsrcxr)\nssdbm3.dll" />
            </Component>
            <Component Id="cmp8A1F4E53528DA828F0FAC67CD0A3BA39" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{31CB57A1-FD5F-4A4E-80FC-26ECB6C9A90D}">
                <File Id="fil5515663E3F1BD9E1865956475AB16DD8" KeyPath="yes" Source="$(env.buildsrcxr)\nssutil3.dll" />
            </Component>
            <Component Id="cmp75075BF28DD075B0396392665FE77489" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{46E2D690-BEA3-4C85-9BEC-D1509C29F206}">
                <File Id="fil6632F7565D02E8EFBDCDE3672588F194" KeyPath="yes" Source="$(env.buildsrcxr)\omni.jar" />
            </Component>
            <Component Id="cmp248F0C4E111DBC4F41AF235BECF31454" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{5F9E173E-186E-4175-BD33-0E8B9967F399}">
                <File Id="fil620FAF091681933DEE5DBB232D8DD604" KeyPath="yes" Source="$(env.buildsrcxr)\platform.ini" />
            </Component>
            <Component Id="cmpF0799D16BB2B903F4BA25E0446539DD7" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{DBF86F45-B69A-449B-A4A0-B2F002F12181}">
                <File Id="filEF3A4ABD0C42AC56640AB0926F1F1C93" KeyPath="yes" Source="$(env.buildsrcxr)\plc4.dll" />
            </Component>
            <Component Id="cmp727DC3DE5ACA3FACAB60129F414993AC" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{7C42B0A4-34F9-46D0-BEEB-E3D07BB77E01}">
                <File Id="filF0F3A3C4027AE58E096DD859967876B2" KeyPath="yes" Source="$(env.buildsrcxr)\plds4.dll" />
            </Component>
            <Component Id="cmp2DD665F2BB091808258B70DE4507DF95" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{EA6E77CC-6E83-43A3-B7E9-E8F99D12CDCA}">
                <File Id="fil15F254E8FCFB815EDBEE18137F5853D9" KeyPath="yes" Source="$(env.buildsrcxr)\plugin-container.exe" />
            </Component>
            <Component Id="cmpCB7F821209D52D8F4EA8186E1C74F12D" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{688237A2-4790-49CF-BBA7-EE949491B975}">
                <File Id="fil9D8F3D6AF59186C6CCBB4844BB9EFFE9" KeyPath="yes" Source="$(env.buildsrcxr)\precomplete" />
            </Component>
            <Component Id="cmp91C0A8A0E5ED74CD9520B45942F96ACF" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{1F1E2DCA-8BF3-462F-8E71-CB741BAA0C56}">
                <File Id="fil454C1462AC94BD0DF77415DFD93316A4" KeyPath="yes" Source="$(env.buildsrcxr)\README.txt" />
            </Component>
            <Component Id="cmpE7EF17C587AF0E88023D01E233CF5879" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{5FBEF766-B7BD-459D-8E81-E63401069602}">
                <File Id="filAA1E3665C973E533A89C5FEB47E859D9" KeyPath="yes" Source="$(env.buildsrcxr)\redit.exe" />
            </Component>
            <Component Id="cmpF03C45DE250A6E3596A4B44976F437B5" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{BBC0B4C9-D8B2-40A0-B16D-AA9025E50836}">
                <File Id="filDA7ED3727CB5543CB121210DB85AAC6D" KeyPath="yes" Source="$(env.buildsrcxr)\smime3.dll" />
            </Component>
            <Component Id="cmp77F8D967C522ADC8B912BFB1632347FB" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{0F6FD051-8661-42F8-8240-ED1DD5FAF4BF}">
                <File Id="filB020DC8A33D5BCA526866729B2DB1B1C" KeyPath="yes" Source="$(env.buildsrcxr)\softokn3.chk" />
            </Component>
            <Component Id="cmpD6741136E9EA1184009AB1BFFF079DB6" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{E8F6A8E1-B74D-46A2-B79F-08B3F292EAE2}">
                <File Id="filBBFA883FFDAE1D3F705495945EC34421" KeyPath="yes" Source="$(env.buildsrcxr)\softokn3.dll" />
            </Component>
            <Component Id="cmpDEF4795487B6C37E00ACB157640FA85D" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{EA41D193-EAD0-4870-9C9C-0E8838934F64}">
                <File Id="filAB66DEDA3F8861B45D9FFB5876A4DF46" KeyPath="yes" Source="$(env.buildsrcxr)\ssl3.dll" />
            </Component>
            <Component Id="cmpFA377F13F9C2CBE6883AEFE9C0DD057D" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{BC8261EC-11AC-4B82-81FE-F8DC40E6DF47}">
                <File Id="fil055272FEA9947522F53721FE7A59807B" KeyPath="yes" Source="$(env.buildsrcxr)\update.locale" />
            </Component>
            <Component Id="cmp6146337E030809B40350D2A4FAA3EC3D" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{B2AC8FF6-E20D-47FF-B125-7D28BED23CC8}">
                <File Id="fil76409960A993AA95B93F4BA586AFB6D5" KeyPath="yes" Source="$(env.buildsrcxr)\updater.exe" />
            </Component>
            <Component Id="cmpA1D5B6435EE8C24492F2A284769BB8E1" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{B6853FA3-C135-4E04-8D62-D65CA1B9F6C7}">
                <File Id="filB23BB5BC673E0EFE10E3A06964296898" KeyPath="yes" Source="$(env.buildsrcxr)\xpcom.dll" />
            </Component>
            <Component Id="cmp21C333FD89A7F0F6F764EE2850A939D4" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{3B5DEFED-0D38-4EBA-98F6-677EF8CD83D6}">
                <File Id="fil9B4945A6B46C833FA8B2729A92503DEF" KeyPath="yes" Source="$(env.buildsrcxr)\xpcshell.exe" />
            </Component>
            <Component Id="cmp702CCDC6A8674EB90766389C1CA9FED7" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{70818FC2-E036-4DD7-98B1-C910F53C37E9}">
                <File Id="filE3A129CFC21DF94B601AF9FE49B6EACE" KeyPath="yes" Source="$(env.buildsrcxr)\xul.dll" />
            </Component>
            <Component Id="cmpD1A74474EB43D6653EE4680E6B9F05EE" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{E50A833E-FB21-4C86-9FF0-8502E2868F80}">
                <File Id="filE4BA1FDC6E6A1AD79E4B2A005AC21A14" KeyPath="yes" Source="$(env.buildsrcxr)\xulrunner-stub.exe" />
            </Component>
            <Component Id="cmp68BDA51F1C306A06740F9919B46B40E4" Directory="dir236AB2BBDB7AE3C73B03CCBD32AC4E00" Guid="{08990B89-5ABC-4E85-9390-0F864F44954F}">
                <File Id="filB9525E72BE7BC294C8080A4512F65E96" KeyPath="yes" Source="$(env.buildsrcxr)\xulrunner.exe" />
            </Component>
            <Component Id="cmp74448C219C3BBE3757654718CFFFC4C7" Directory="dirCB3BE73243DD3BE04B2D0923EE119A0F" Guid="{00681EEC-F27E-469C-ABDC-DD1427950E1D}">
                <File Id="fil7535679AB7126B734078050C186D067A" KeyPath="yes" Source="$(env.buildsrcxr)\components\binary.manifest" />
            </Component>
            <Component Id="cmp2FEDC9E756EBCC83BED3DC4E8DCD1066" Directory="dir1B7003FCC410AD58FF3A2229A5022EA5" Guid="{DD25F379-7016-4FE0-8DCF-C6E0398BECBB}">
                <File Id="filFEE64F8FE4915E9FA1D889B53560A621" KeyPath="yes" Source="$(env.buildsrcxr)\dictionaries\en-US.aff" />
            </Component>
            <Component Id="cmpB0634DDBDD196CD1B39E048C93499381" Directory="dir1B7003FCC410AD58FF3A2229A5022EA5" Guid="{053BBEB9-6FB7-407B-B452-FECBC3110030}">
                <File Id="filA1587D25B6DF7F976EE77E40A5A757B6" KeyPath="yes" Source="$(env.buildsrcxr)\dictionaries\en-US.dic" />
            </Component>
            <Component Id="cmpE172786E221DB12E1DFB71C82BDAF492" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{87655363-E867-4D5B-A06B-8F643082AC4D}">
                <File Id="filA72EE79C076991C8E3348D297AB5D5EE" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_af.dic" />
            </Component>
            <Component Id="cmp522E095356B14A19294F5EFBABA52393" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{516B174A-6A1B-41D4-BF1D-2C1FB4DD8956}">
                <File Id="fil3AF92AA80B147BA402B4462D20833CDB" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_bg.dic" />
            </Component>
            <Component Id="cmp6CD64FCE94839C9C434F268EE68A67E5" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{3AB86A75-2C3F-4F6D-9F07-5752A7E97A9C}">
                <File Id="fil2D14C3805CE1CFECCDA998E990586B4C" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_ca.dic" />
            </Component>
            <Component Id="cmp54C6ACB73D406C7F5265FF722C6D6F50" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{CCE397CA-04AB-4231-87DB-CC2D613DBB6F}">
                <File Id="fil9CACB9636F3A6AA218381E0FD1CF18E9" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_cy.dic" />
            </Component>
            <Component Id="cmp1BC579F1AFBD9F70FAB29AE7D3C5E48F" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{8B866A7F-2595-47C0-BFB4-F8082C7A3193}">
                <File Id="filD48E3280F6EF064CC44ACE0086E8D9F9" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_da.dic" />
            </Component>
            <Component Id="cmp67E4692BC872AA918DF3130F49DF69AB" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{B21D2CF6-9192-46AB-88F0-7960469A4CE5}">
                <File Id="filBAA40F32C7DF5C5E0965B6BBDF148AE9" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_de-1901.dic" />
            </Component>
            <Component Id="cmpA243A92BF7F9D0E01C6935EC6E82A2C2" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{7BB416DD-82C0-4FB6-BEA3-94E28E27E755}">
                <File Id="fil7B019F820D16393723A4F99B3B3F3989" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_de-1996.dic" />
            </Component>
            <Component Id="cmpC5EE4D1271423699E62EBCC2BF240C88" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{0C0A7E26-B2E5-4199-B0A4-894E9AE59725}">
                <File Id="fil0695CABC9B9232DB7D499D6626D97C3C" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_de-CH.dic" />
            </Component>
            <Component Id="cmp1E931638CF3E1856C25278F8034E0E47" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{23EBFB06-F2EC-44D5-A036-A274C790FCAD}">
                <File Id="filC9CFAA328A7DAC60F541D673614298D0" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_en_US.dic" />
            </Component>
            <Component Id="cmp0952CFC1F5C60C5DDCEC1BA6DD9BE3BC" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{26B66221-2058-4ACB-9F8E-CAF0381A5054}">
                <File Id="fil288DC7424AE756080E886838F1613630" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_eo.dic" />
            </Component>
            <Component Id="cmp3C8EB0ABF6F7A93FCB9F69C810ABA8A7" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{C4AF26AB-E9B3-426D-952E-F4F41F0558DB}">
                <File Id="fil2D02514CFD06A0316DD8550095B3E9AD" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_es.dic" />
            </Component>
            <Component Id="cmpF141612935B4A17A929DD9C393E3DA60" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{A0D1530C-E835-4DB7-93F4-928DB45E3AA5}">
                <File Id="fil43EF91BF7596B95DB815F3F348CFD5C7" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_et.dic" />
            </Component>
            <Component Id="cmpBAD54510CD0D95B4A9341441C5B38C78" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{5A49035D-9D2E-4188-A4FD-E45F98347FB3}">
                <File Id="filA79A81C3F150D9A90D9148679C56B55C" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_fi.dic" />
            </Component>
            <Component Id="cmp4289020018E4B2D334479B69B5DE571D" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{67AD7CE2-4F9B-417E-A0FC-566AB6846CB5}">
                <File Id="filD93C9EC342F4E5F9F7347D5179944E73" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_fr.dic" />
            </Component>
            <Component Id="cmpDD04A9AC7F113374A14107712ECBEEF5" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{9D71AE6A-9760-423D-8F66-3A835E005CA2}">
                <File Id="fil19141A7406E0C6C5E4BC424D410F589A" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_gl.dic" />
            </Component>
            <Component Id="cmp445BB45ABEEA393450FB625927311A67" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{A267C635-CEE8-4301-9A86-134E6735346D}">
                <File Id="fil8CB946DF5C22F6A8E1A57F15FD894984" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_hr.dic" />
            </Component>
            <Component Id="cmp44B14806C4354BB45C5DAFFF1F33697D" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{FDEC2A8B-8EA8-41A2-9988-BB072DE91E94}">
                <File Id="fil2FF1D047FBB9F99E3CB1F6AB1B90AE65" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_hsb.dic" />
            </Component>
            <Component Id="cmpEEB68BCC940CA1B8383EAFEBC1555EE2" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{3452733E-BEAB-400E-8E76-F696F1593D83}">
                <File Id="fil4E9C2EDD4924E7CBBAAE1C2F2D532CF8" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_hu.dic" />
            </Component>
            <Component Id="cmp40482ECC2A0F7E315D75B75B9BF1EDDA" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{8A3FADA8-285A-48B4-98D8-31097E977598}">
                <File Id="filAAD08AACA1C8A448D58F9A4B6F1CCC6B" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_ia.dic" />
            </Component>
            <Component Id="cmp8E9D6FA602E4743596B14367F137F9E3" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{0B5546BC-BCD5-4EA2-B9FC-F797681F863B}">
                <File Id="filD9C79335E8784C1B7AB16762FE3CBEB4" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_is.dic" />
            </Component>
            <Component Id="cmpA553FE91B5B926B14E12A89DA86B35FA" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{54C3BE19-BF57-41E2-A17C-B0600149D0A3}">
                <File Id="filA3C9507834DD6E8905D155D0406BDBFA" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_it.dic" />
            </Component>
            <Component Id="cmp38F05F48993330CE9834F440781073A8" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{634EDDB9-7621-49E7-B63B-A18A477AAA50}">
                <File Id="fil785196BF04BA527249FC11E99B13ED0C" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_kmr.dic" />
            </Component>
            <Component Id="cmp976D2D2F529F84DE27810734901D60E9" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{452B114F-D799-4223-A8F6-492478DD3EFF}">
                <File Id="fil2F89D7C21C62A661EB8E3CB7F4DB6609" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_la.dic" />
            </Component>
            <Component Id="cmp4EEAB8750F37697BAB3F40C1C08A3C9C" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{BE8462F5-0B19-4C8E-BB7B-64540EDE2ACE}">
                <File Id="fil40B062B775FDF725C44B6FEA8A668BFB" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_lt.dic" />
            </Component>
            <Component Id="cmp31F9BD6E8E597F6F382309E54BF056C9" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{00F56598-873C-43D1-9888-B62697E7C737}">
                <File Id="filE14E899CBD010FE03668C3AB84F9B28B" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_mn.dic" />
            </Component>
            <Component Id="cmpFCB05A71DFC10B8E12F7E75EBB1528CA" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{4BC72AB6-479A-4335-A049-0705B7135CBD}">
                <File Id="filEBAFC29E7D0BC4B1A88A306E0F5C6A0A" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_nb.dic" />
            </Component>
            <Component Id="cmpEBCC5DF42369352DB7C26B4B65CDA374" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{EEDC7E26-EA9A-4D00-B14B-3E5CF56D1833}">
                <File Id="fil5E76CE79BE75AF0A8890770318AE18B3" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_nl.dic" />
            </Component>
            <Component Id="cmp801D2A8D8634949AEF4B16E92BDD2D30" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{D9C0D526-C350-408E-9ACD-D44FF2E5B68F}">
                <File Id="fil4F19D80F28770EF1C33BC2FFCA3DE8D7" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_nn.dic" />
            </Component>
            <Component Id="cmp08DE1E6D93FC664005F79746E54D25D3" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{B7948751-CDAB-4641-99FC-11389D29A5EA}">
                <File Id="fil90B43247C24410476C6BA7B2F8E7A620" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_pt.dic" />
            </Component>
            <Component Id="cmp6D88A661D3B7ED80F63B29AF1E809976" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{35AD5A89-7480-4766-AACB-AE246BCC6B14}">
                <File Id="filA0D9BC99BFFF5006484E20E99FCEB3BE" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_ru.dic" />
            </Component>
            <Component Id="cmpE43E60E7428BAE63DE040265FC9F0582" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{1FC1D11C-996F-4181-BB2E-6A58A2E503F2}">
                <File Id="fil554BC90F466FD28CE102E96D53798432" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_sh.dic" />
            </Component>
            <Component Id="cmpF89E3505D167205A114B7ECDF15A0079" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{A29E11D5-142C-4BC0-A012-7EEF23AC8FD9}">
                <File Id="fil8C5B82C8CD8AE27E5AE1B496FE6C48BD" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_sl.dic" />
            </Component>
            <Component Id="cmp0D6E923C32637978654302EC84D493DA" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{6A0CE0DB-56AD-4B8D-88BE-4D4B5560D8AD}">
                <File Id="filFEFC27EE0088BBD9E136DCAFA7B40C42" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_sv.dic" />
            </Component>
            <Component Id="cmp9A134C67A4571373BB0892BACB5319A5" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{94F21EF8-58EC-419C-A1FA-F90043F33EFA}">
                <File Id="fil8BCD073B0316C95C7AD12648654B768F" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_tr.dic" />
            </Component>
            <Component Id="cmp3B071FEF1258AAAC25F0C95B7BE77BFA" Directory="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Guid="{53AFF342-EBC6-4590-8B5C-1DFED73AA616}">
                <File Id="fil6CE7B9F86D82159904078F0D95BCD8EF" KeyPath="yes" Source="$(env.buildsrcxr)\hyphenation\hyph_uk.dic" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir236AB2BBDB7AE3C73B03CCBD32AC4E00">
            <Directory Id="dir1B7003FCC410AD58FF3A2229A5022EA5" Name="dictionaries" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir236AB2BBDB7AE3C73B03CCBD32AC4E00">
            <Directory Id="dir74BFBD42C2A61F3361AE2DAC5D242E7F" Name="hyphenation" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir236AB2BBDB7AE3C73B03CCBD32AC4E00">
            <Directory Id="dirCB3BE73243DD3BE04B2D0923EE119A0F" Name="components" />
        </DirectoryRef>
    </Fragment>
</Wix>