/*!
 *
 * Copyright (c) 2007-2011, Kirix Research, LLC.  All rights reserved.
 *
 * Project:  Application Process Monitor
 * Author:   Benjamin I. Williams
 * Created:  2007-04-02
 *
 */


#include "wx/msw/wx.rc"

